@inject DevicesService DevicesService

@foreach (var device in Devices) {
  <div class="device">
    <div class="name">
      <span class="caption">Device Name</span>
      <span class="value">@device.Name</span>
    </div>
    <div class="mac-address">
      <span class="caption">MAC Address</span>
      <span>@device.MACAddress</span>
    </div>
  </div>
}

@functions {
  IEnumerable<Device> Devices;

  protected override async Task OnInitAsync() =>
    Devices = await DevicesService.GetDeviceAsync();

  Device NewDevice = new Device();
}
