@page "/edit/{DeviceId:guid}"
@inject DeviceService DeviceService
@inject Microsoft.AspNetCore.Blazor.Services.IUriHelper UriHelper

<p>Device Guid is @DeviceId</p>
@if (initialized) {
  @if (Item is null) {
    <p class="error-message">No device information found</p>
  } else {
    <DeviceForm Item="@Item" OnClickOk="@OnClickOk" OnClickDelete="@OnClickDelete" />
  }
}

@functions {
  [Parameter]
  Guid DeviceId { get; set; }

  bool initialized = false;

  Device Item;

  protected override async Task OnInitAsync() {
    var device = await DeviceService.GetDeviceAsync(DeviceId);
    Item = new Device {
      Name = device.Name,
      MACAddress = device.MACAddress
    };
    initialized = true;
  }

  async Task OnClickOk(Device edited) {
    await DeviceService.UpdateDeviceAsync(DeviceId, edited);
    UriHelper.NavigateTo("/");
  }

  async Task OnClickDelete() {
    await DeviceService.DeleteDeviceAsync(DeviceId);
    UriHelper.NavigateTo("/");
  }
}
